# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
Untitled.ipynb

# PyTorch weights
*.pth
*.pth.tar

# Outputs
output/

# Weights and Biases
wandb/
